* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	background-color: black;
}
.container {
	width: 100%;
	height: 100%;
}
.name {
	text-align: center;
	padding-top: 110px;
	margin-bottom: 40px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 900;
	font-size: 60px;
}
.firstName {
	color: #9370d8;
}
.lastName {
	color: white;
}
.aboutme,
.projects,
.resume,
.github {
	display: flex;
	width: 300px;
	height: 50px;
	background-color: black;
	margin: auto;
	margin-bottom: 10px;
}
.github {
	margin-bottom: 40px;
}

.aboutmerest {
	display: none;
	width: 300px;
	height: auto;
	margin: auto;
	color: white;
	margin-top: 5px;
	margin-bottom: 20px;
	cursor: pointer;

}

.about{
	display: block;
	width: 300px;
	height: 390px;
	background-color: #9370d8;
	margin-top: 20px;
	border-radius: 10px;
	text-align: center;
}

.aboutme-writing{
	margin-top: 10px;
}

.skills{
	display:block;
	width: 250px;
	height: 25px;
	background-color: white;
	margin-top: 10px;
	margin-left: 25px;
}

.skills-inner{
	width: 100%;
	height: 100%;
	background-color: black;
}

.percentage-label{
	padding-top: 4px;
	text-align: center;
}

.ninetypercent{
	width: 90%;
}

.eightpercent{
	width: 80%;
}

.seventypercent{
	width: 70%;
}

.fiftypercent{
	width: 50%;
}

.projectrest {
	display: none;
	text-align: left;
	width: 300px;
	height: auto;
	margin: auto;
	color: white;
	margin-top: 5px;
	margin-bottom: 20px;
	cursor: pointer;
}

.project{
	display: block;
	width: 300px;
	height: 130px;
	background-color: #9370d8;
	margin-top: 20px;
	text-align: center;
	border-radius: 10px;
}

.project-name{
	padding-top: 15px;
	font-size:x-large;
}

.label {
	text-align: justify;
	justify-content: flex-start;
	color: #9370d8;
	font-family: Helvetica, Arial, sans-serif;
	cursor: pointer;
}
.iconfile {
	display: flex;
	justify-content: flex-end;
	margin-left: 100px;
	width: 40px;
	height: 40px;
	cursor: pointer;
}
.iconprofile {
	display: flex;
	justify-content: flex-end;
	margin-left: 80px;
	width: 40px;
	height: 40px;
	cursor: pointer;
}
.icongithub {
	display: flex;
	justify-content: flex-end;
	margin-left: 120px;
	width: 40px;
	height: 40px;
}
.links {
	text-decoration: none;
	color: #9370d8;
}

.flex{
	display: flex;
}

.block{
	display: block;
}

.inline-block{
	display: inline-block;
}


.project-heading{
	padding-top: 4px;

}

.project-button{
	display: inline-block;
	width: 250px;
	height: 25px;
	border-radius: 10px;
	background-color: black;
	color:white;
	border: none;
	margin-top: 10px;
	cursor: pointer;

}
.project-button-container{
	padding-top: 10px;
	display: inline-block;
	margin-left: 25px;
	align-content: center;

}

.hiddenproject{
	display: none;
	width: 300px;
	height: auto;
}
